.signals {
    overflow: hidden;
    position: relative;
}

.signals__chart {
    padding-bottom: 64px;
}

.settings > .ms-Slider + .ms-Stack {
    margin-top: 0;
}

.signals__switches + .signals__switches {
    margin-top: 6px;
}

.signals__switches .ms-Button {
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 6px;
    min-width: 0;
}

.signals__switches .ms-Button:last-child {
    margin-right: 0;
}

.signals__controls {
    background-color: #fff;
    bottom: 0;
    left: 0;
    padding: 16px 24px;
    position: fixed;
    width: 100%;
}

.signals_filter .signals__controls {
    height: 144px;
}

.signals__buttons {
    display: flex;
    justify-content: center;
}
