* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/heart.jpg');
    background-size: cover;
}
