.samples-buttons {
    display: flex;
    flex-wrap: wrap;
}

.samples-buttons__item,
.samples-buttons__item > * {
    width: 100%;
}

.samples-buttons__item:not(:last-child) {
    padding-bottom: 6px;
}

.file-upload-view__upload > * {
    width: 100%;
}

.file-upload-view__upload > * .ms-Button-icon {
    display: none;
}

@media (min-width: 481px) {
    .file-upload-view__upload > * {
        width: auto;
    }

    .file-upload-view__upload > * .ms-Button-icon{
        display: inline-block;
    }
}

@media screen and (min-width: 641px) {
    .samples-buttons__item {
        padding-left: 3px;
        padding-right: 3px;
        flex-basis: 33%;
    }

    .samples-buttons__item:nth-child(3n + 1) {
        padding-left: 0;
    }

    .samples-buttons__item:nth-child(3n + 3) {
        padding-right: 0;
    }
}
